{ extends 'base.twig' }

{ block title}Reset Password{ endblock }

{ block content }
<div class='container'>
	<div class="col-md-6 col-lg-6">
		<div class='panel panel-default'>
		<div class='panel-heading'><strong>Forgot Password</strong></div>
		<div class='panel-body'>
			<form role='form' method='POST' action='/reset' id='forgotf'>
				<div class='form-group'>
					<label for="email">Enter Your Email Address</label>
					<input type="email" name="email" id="email" class='form-control' placeholder="Your Email Address" value="{{ email }}" readonly>
				</div>
				<input type="hidden" name="integrity" value='{{ integrity }}'>
				<div class='form-group'>
					<label for="password">Enter Password</label>
					<input type="password" name="password" id="password" class='form-control' placeholder="Choose Password" value="">
				</div>
				<div class='form-group'>
					<label for="password">Confirm Password</label>
					<input type="password" name="confpassword" id="confpassword" class='form-control' placeholder="Confirm Password" value="">
				</div>
				<div class='form-group'>
					<button type='submit' class='btn btn-success' id='forgot'>Reset Password</button>
				</div>
			</form>
			{ if code|length > 0}
			{{ code|flash(message, type)|raw }}
			{ endif } 
		</div>
	</div>
	</div>
	<div class="col-md-6 col-lg-6"></div>
</div>
{ endblock }