<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The X MVC</title>
    <meta charset='UTF-8'><meta name='X-XSS-Protection' content='1;mode=block'>
    <meta name='viewport' content='width=device-width,initial-scale=1,user-scalable=no'>
    <style>
      body {
        padding:0;
        margin:0;
      }
      .container {
        width:100vw;
        height:100vh;
        padding:0;
        margin:0;
        position:relative;
      }
      .jumbotron {
        position:absolute;
        top:50%;
        tranform:translateY(-50%);
        -o-tranform:translateY(-50%);
        -webkit-tranform:translateY(-50%);
        -ms-tranform:translateY(-50%);
        -moz-tranform:translateY(-50%);
      }
    </style>
  </head>
  <body>
      <div class="container">
          <div class="jumbotron">
            <h1>The X MVC</h1>
            <p class="lead">Lightweight model-view-controller created in PHP</p>
            <ul class="links">
              <li><a href="#">Docs</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Examples</a></li>
            </ul>
          </div>
      </div>
  </body>
</html>